body{
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("https://plus.unsplash.com/premium_photo-1673697239981-389164b7b87f?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8bmF0dXJlfGVufDB8MHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
}
h2{
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: white ;
}
.Clock{
    display: flex;
}
.Clock div{
    margin:5px ;
    position: relative;
}

.Clock span{
    width: 100px;
    height: 80px;
    background: slateblue;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0, .3);
}
.Clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: blueviolet;
    opacity: 0.8;
}

#ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: lightblue;
}

